:root {
  --main-front: "Roboto", sans-serif;
  --secondary-front: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --heading-color: #212121;
  --text-color: #757575;
  --white-color: #ffffff;
  --main-background: #e5e5e5;
  --second-background: #f5f4fa;
  --dark-background: #2f303a;
  --section-pb: 94px;
  --section-pt: 94px;
}

body {
  font-family: var(--main-front);
  color: var(--heading-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*==========COMPONENTS==========*/
.container {
  width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*==========END COMPONENTS==========*/

/*==========HEADER==========*/
.header .container {
  display: flex;
  align-items: center;
}

.navigation-link {
  font-family: var(--main-front);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.logo-dark {
  font-family: var(--secondary-front);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--heading-color);
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.active {
  color: var(--accent-color);
}

.logo-accent {
  color: var(--accent-color);
}

.contact-link {
  font-family: var(--main-front);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contact-link:hover,
contact-link:focus {
  color: var(--accent-color);
}

.header {
  background: var(--white-color);
}

.navagation-list {
  display: flex;
  align-items: center;
}

.navagation {
  display: flex;
  align-items: center;
}

.navagation-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navagation-item:not(:last-child) {
  margin-right: 50px;
}

.contact-item:not(:last-child) {
  margin-left: 331px;
  margin-right: 50px;
}
/*.contact-item:nth-child(2) {
  margin-right: 215px;
}
/*==========END HEADER==========*/

/*==========HERO==========*/
.hero {
  background: var(--dark-background);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  max-width: 696px;
  margin: auto;
  margin-bottom: 30px;
}

.button-primary {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: auto;
}

.container .hero {
  width: 1200px;
  margin: 0 auto;
  height: 600px;
}
/*==========END HERO==========*/

/*==========ABOUT==========*/
.about-title-list {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.about-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.about {
  background: var(--white-color);
  padding-top: var(--section-pt);
  padding-bottom: 47px;
}

.about-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.about-list-text {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}
/*==========END ABOUT==========*/

/*==========FUNCTIONAL==========*/
.functional-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.functional {
  background: var(--white-color);
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.functional-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  margin: auto;
}

.functional-link {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.team-text {
  width: 270px;
}
/*==========END FUNCTIONAL==========*/

/*==========TEAM==========*/
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-description {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team {
  background: var(--second-background);
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.team-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team-card {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.team-title {
  margin-bottom: 50px;
}
.team-name {
  padding-top: 30px;
  margin-bottom: 10px;
}

.team-text {
  text-align: center;
}

.modal-item:not(:last-child) {
  margin-right: 8px;
}
/*==========END TEAM==========*/

/*===============PORTFOLIO===============*/

.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background: var(--accent-color);
  color: var(--white-color);
}

.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--heading-color);
}

.project-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio {
  background: var(--white-color);
}

.modal {
  display: flex;
  padding-top: 96px;
  justify-content: center;
}

.modal-item {
}

.modal-link:not(:last-child) {
  margin-right: 8px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-top: 50px;
  padding-bottom: var(--section-pb);
}

.project-name {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.project-title {
  margin-left: 24px;
  margin-top: 20px;
}

.project-description {
  margin-left: 24px;
  margin-top: 20px;
}
/*==========END PORTFOLIO==========*/

/*==========FOOTER==========*/
.logo-white {
  display: block;
  font-family: var(--secondary-front);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
  margin-top: 20px;
}

.foother-link {
  font-family: var(--main-front);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.foother-link-address {
  font-family: var(--main-front);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.navagation-foother {
  margin-top: 20px;
}

.foother-item:not(:last-child) {
  margin-bottom: 9px;
}
/*==========END FOOTER==========*/
