:root {
  --main-front: "Roboto", sans-serif;
  --secondary-front: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --heading-color: #212121;
  --text-color: #757575;
  --white-color: #ffffff;
  --main-background: #e5e5e5;
  --second-background: #f5f4fa;
  --dark-background: #2f303a;
}

body {
  font-family: var(--main-front);
  color: var(--heading-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*==========COMPONENTS==========*/
.container {
  width: 1600px;
  margin: 0 auto;
  padding-left: 215px;
  padding-right: 215px;
}
/*==========END COMPONENTS==========*/

/*==========HEADER==========*/
.navigation-link {
  font-family: var(--main-front);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.logo-dark {
  font-family: var(--secondary-front);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--heading-color);
}
.active {
  color: var(--accent-color);
}

.logo-accent {
  color: var(--accent-color);
}

.contact-link {
  font-family: var(--main-front);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contact-link:hover,
contact-link:focus {
  color: var(--accent-color);
}

.header {
  background: var(--white-color);
}
/*==========END HEADER==========*/

/*==========HERO==========*/
.hero {
  background: var(--dark-background);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.button-primary {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
}
/*==========END HERO==========*/

/*==========ABOUT==========*/
.about-title-list {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.about-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.about {
  background: var(--main-background);
}
/*==========END ABOUT==========*/

/*==========FUNCTIONAL==========*/
.functional-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.functional {
  background: var(--main-background);
}
/*==========END FUNCTIONAL==========*/

/*==========TEAM==========*/
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-description {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team {
  background: var(--second-background);
}
/*==========END TEAM==========*/

/*==========PORTFOLIO==========*/
.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background: var(--accent-color);
  color: var(--white-color);
}

.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--heading-color);
}

.project-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio {
  background: var(--main-background);
}
/*==========END PORTFOLIO==========*/

/*==========FOOTER==========*/
.logo-white {
  font-family: var(--secondary-front);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
}

.foother-link {
  font-family: var(--main-front);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background-color: var(--dark-background);
}

.foother-link-address {
  font-family: var(--main-front);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
/*==========END FOOTER==========*/
